<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <button id="toggleSidebar">☰ Menu</button>

    <div class="sidebar">
        <div class="sidebar-title-box">
        <img src="/Pig-logo.png" alt="Pig Logo" class="sidebar-header-logo">
        <h2>PortfolioTracker</h2>
        </div>
        <a href="/dashboard" class="sidebar-logo"> <img src="/Dashboard-logo.png" alt="Dashboard Logo">Dashboard</a>
        <a href="/accounts" class="sidebar-logo"> <img src="/Accounts-logo.png" alt="Accounts Logo">Accounts</a>
        <a href="/portfolios" class="sidebar-logo"> <img src="/Portfolios-logo.png" alt="Portfolios Logo">Portfolios</a>
        <a href="/logout" class="logout-btn">Log out</a>
        <button id="closeSidebar"> Close</button>
    </div>
    <script src="/js/sidebar.js"></script>
</body>
</html>