<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="topnav">
        <a href= /dashboard>Dashboard</a>
        <a href=/accounts>Accounts</a>
        <a href= /portfolios>Portfolios</a>
    </div>

    <h1>Velkommen, <%= username %></h1>
    <a href="/logout">Log ud</a>
</body>
</html>