<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolios</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <script src="/js/sidebar.js"></script>
    <button id="toggleSidebar">☰ Menu</button>

    <div class="sidebar">
        <h2>PortfolioTracker</h2>
        <a href="/dashboard" class="sidebar-logo"> <img src="/Dashboard-logo.png" alt="Dashboard Logo">Dashboard</a>
        <a href="/accounts"class="sidebar-logo"> <img src="/Accounts-logo.png" alt="Accounts Logo">Accounts</a>
        <a href="/portfolios" class="sidebar-logo"> <img src="/Portfolios-logo.png" alt="Portfolios Logo">Portfolios</a>
        <a href="/logout" class="logout-btn">Log out</a>
        <button id="closeSidebar"> Luk</button>
    </div>


    <div class="main-content">
        <h1>Your Portfolios</h1>
        <button class="newPortfolio-btn">+ Add Portfolio</button>
        <div id="portfolioForm" style="display: none;">
            <form id="newPortfolioForm">
                <label for="portfolioName">Portfolio Name:</label>
                <input type="text" id="portfolioName" name="name" required><br><br>
        
                <label for="portfolioAccount">Select Account:</label>
                <select id="portfolioAccount" name="accountId" required></select><br><br>
        
                <button type="submit">Create Portfolio</button>
            </form>
        </div>
        
        <div class="table-container">
            <h2>Portfolio Overview</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Bank Account</th>
                        <th>24 hour Change</th>
                        <th>Last trade</th>
                        <th>Total value</th>
                    </tr>
                </thead>
                <tbody id="portfolios-table">
                    <!-- Portfolio data will be loaded here dynamically -->
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>