<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolios</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <button id="toggleSidebar">☰ Menu</button>

    <script>
  document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("toggleSidebar").addEventListener("click", function () {
          document.querySelector(".sidebar").classList.toggle("hidden");
      });

      document.getElementById("closeSidebar").addEventListener("click", function () {
          document.querySelector(".sidebar").classList.toggle("hidden");
      });
  });
</script>


    <div class="sidebar">
        <h2>PortfolioTracker</h2>
        <a href="/dashboard" class="sidebar-logo"> <img src="/Dashboard-logo.png" alt="Dashboard Logo">Dashboard</a>
        <a href="/accounts"class="sidebar-logo"> <img src="/Accounts-logo.png" alt="Accounts Logo">Accounts</a>
        <a href="/portfolios" class="sidebar-logo"> <img src="/Portfolios-logo.png" alt="Portfolios Logo">Portfolios</a>
        <a href="/logout" class="logout-btn">Log out</a>
        <button id="closeSidebar"> Luk</button>
    </div>
</body>
</html>